<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Weather</title>
    <link rel="stylesheet" href="./main.css" media="screen" title="no title">
  </head>
  <body>
  <h1>Welcome to the weather!</h1>
  <p>
    <ul>
      {{#each weather}}
    <li> <a href="weather/{{id}}"> {{city}}</li>
    {{/each}}
    </ul>
  </p>
  </body>
</html>
