<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Our Blogs</title>
  </head>
  <body>
  <h1>Welcome to our blog!</h1>
  <p>
    <ul>
      {{#each blog}}
    <li> <a href="blog/{{id}}"> {{title}}</li>
      <img src="http://wanna-joke.com/wp-content/uploads/2013/04/cool-cat.gif">
    {{/each}}


    </ul>
  </p>
  </body>
</html>
