<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Our Blogs</title>
  </head>
  <body>
  <h1>Welcome to our blog!</h1>
  <p>
    <ul>
      {{#each blog}}
    <li> <a href="#"> {{title}}</li>
    {{/each}}
    </ul>
  </p>
  </body>
</html>
